@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.header {
    background-color: #222;
    max-width: 100%;
    height: 75px;
    flex-shrink: 0;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;;
    height: 75px;
    padding-left: 231px;
    padding-right: 240px;
}

.logo {
    padding-right: 41px;
}

.top__container {
    display: flex;
    align-items: center;
    gap: 63.42px;
    width: 100%;
    height: 764px;
    flex-shrink: 0;
    margin-bottom: 65px;
    background-color: #F1E4E6;
}

.top__title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.asset {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
}

.text {
    color: #222;
    font-family: 'Lato';
    font-size: 42px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

span.h2 {
    color: #222;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span.h2pink  {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.catalogue {
    display: grid;
    grid-template-columns: repeat(3, 22.5vw);
    gap: 30px;
    justify-content: center;
    margin-bottom: 96px;
  }

  .item {
    position: relative;
  }

  .catalogue_img {
    width: 22.5vw;
    height: auto;
  }

  .catalogue_text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 6.5vw;
    left: 6.2px;
    width: 100%;
  }

  .catalogue_text_pink {
    color: #f16d7f;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .item4 {
    display: grid;
    grid-column: span 3;
  }

  .catalogue_text4 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 5vh;
    left: 4vh;
    width: 100%;
  }

  .catalogue_img4 {
    width: 71vw;
    height: auto;
  }

  .content__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 49px;
  }

  .content__title__big {
    color: #222;
    font-family: 'Lato';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .content__text {
    color: #9F9F9F;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .item__product {
    background-color: #F8F8F8;
  }

  .product__content {
    display: grid;
    grid-template-columns: repeat(3, 22vw);
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
  }

  .item__img {
    width: 22vw;
    height: auto;
    flex-shrink: 0;
  }

  .pink__item2 {
    background-color: #f7e4e2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22vw;
    height: 25.6vw;

  }

  .pink__item2__img {
    width: 8vw;
    height: auto;
    flex-shrink: 0;
    margin-top: 8px;
    margin-bottom: 11px;
  }

  .name__item {
    color: #000;
    font-family: 'Lato';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    padding-bottom: 16px;
    margin-left: 18px;
    margin-right: 193px;
  }

  .desc {
    color: #5D5D5D;
    font-family: 'Lato';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 16px;
    text-align: start;
    margin-left: 18px;
  }

  .price {
    color: #F16D7F;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 18px;
    margin-bottom: 20px;
  }

  .bottom__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom__btn {
    color: #F26376;
    border: 0.5mm solid #FF6A6A;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px 14px 39px;
  }

  .products {
    padding-bottom: 60px;
  }
























